<%= form_for(@sighting) do |f| %>
  <% if @sighting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sighting.errors.count, "error") %> prohibited this sighting from being saved:</h2>

      <ul>
      <% @sighting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :star_id %><br />
    <%= f.number_field :star_id %>
  </div>
  <div class="field">
    <%= f.label :spot_id %><br />
    <%= f.number_field :spot_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
